h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing:inherit;
}

/* Style inputs */

input[type=text],
select,
textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ff4d4d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
     
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #ff3333;
}

input[type=reset] {
    background-color: #ff4d4d;
    color: white;
    padding: 12px 20px;
    
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

input[type=reset]:hover {
    background-color: #ff3333;
}

.buttons{
    margin-left: 40%;
}
/* Style the container/contact section */

.container {
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 60%;
    margin-left: 25%;
    margin-top: 2%;
}

/* Create two columns that float next to eachother */

.column {

    width: 100%;
    margin-top: 6px;
    padding: px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
