                /* hier zal ik de flexbox toepassen en dergelijke */
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            a {
                font-family: "Roboto", sans-serif;
            }
            
            .row {
                display: flex;
                flex-wrap: wrap;
                padding: 0 4px;
            }
            /*-------------------------------------Create four equal columns that sits next to each other-------------------------------------------*/
            
            .column {
                padding: 0 50px;
            }
            
            .column img {
                width: 200px;
                margin-top: 8px;
                vertical-align: middle;
                margin-bottom: 8px;
            }
            
            .img_hobbies img {
                width: 120px;
                height: 120px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            
            .softskills_list li {
                text-decoration: none;
                list-style-type: none;
                text-align: center;
          margin-right: 5%;
            }
            /*------------------------------------------------------------tabel-----------------------------------------------------------------*/
            
            .table_education {
                margin-left: 30%;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                display: flex;
            }
            
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            /*------------------------------------------------------------------photo gallery--------------------------------------------------------------------*/
            /*-----------------------------------------maak de @media thuis maakhet compatibel met gsm -------------------------------------------------------------------*/
            /*-----------------------------------------@media zal ook van toepassing nodig zijn -----------------------------------------------------------------*/
          